<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KE03_INTDEV_SE_2_Base</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KE03_INTDEV_SE_2_Base.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="admin-layout">
        <aside class="sidebar">
            <a class="sidebar-logo" asp-controller="Home" asp-action="Index">
                Matrix Inc.
            </a>

            <nav class="sidebar-nav">
                <a asp-controller="Products" asp-action="Index">
                    <i class="fa-solid fa-cube"></i>
                    <span>Producten</span>
                </a>

                <a asp-controller="Orders" asp-action="Index">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Bestellingen</span>
                </a>

                <a asp-controller="Complaints" asp-action="Index">
                    <i class="fa-regular fa-circle-exclamation"></i>
                    <span>Klachten</span>
                </a>

                <a href="#">
                    <i class="fa-solid fa-truck"></i>
                    <span>Bezorgingen</span>
                </a>

                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <span>Personeel</span>
                </a>

                <a href="#">
                    <i class="fa-regular fa-building"></i>
                    <span>Leveranciers</span>
                </a>

                <a href="#">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Medewerkers</span>
                </a>
            </nav>
        </aside>

        <main class="admin-main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
